<app-jumbotron [Titolo]="'Dati Articoli'" [SottoTitolo]="'Inserisci o modifica i dati del nuovo articolo'" [Show]="false"></app-jumbotron>

<section class="container">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-red-sunglo">
        <i class="oi oi-pencil"></i>  
        <span class="caption-subject bold uppercase"> Dati Articolo</span>
      </div>
    </div>
    <div class="portlet-body form">
      <div class="form-body">
          <div class="form-group">
              <label for="codArt">Codice Articolo:</label>
              <input id="codArt"  type="text" [(ngModel)]="articolo.codArt" class="form-control" placeholder="Codice Articolo"/>
          </div>
          <div class="form-group">
              <label for="descrizione">Descrizione Articolo</label>
              <input id="descrizione" [(ngModel)]="articolo.descrizione" type="text" class="form-control" placeholder="Descrizione Articolo"/> 	 
          </div>
          <div class="form-group">
              <label for="um">Unità di Misura</label>
              <select class="form-control" [(ngModel)]="articolo.um">
                <option value="PZ">Pezzi</option> 
                <option value="LT">Litri</option>
                <option value="KG">Kilogrammi</option>
              </select>
          </div>
          <div class="form-row">
              <div class="form-group col-md-4" >
                  <label for="pzCart">Pezzi Per Cartone:</label>
                  <input id="pzCart" [(ngModel)]="articolo.pzCart" type="text" class="form-control"/>  
                </div>

                <div class="form-group col-md-4">
                  <label for="pesoNetto">Peso Netto:</label>
                  <input id="pesoNetto" [(ngModel)]="articolo.pesoNetto" type="text" class="form-control"/>  
                </div>
          </div>
      </div>
    </div>
  </div>
</section>